@font-face {
  font-family: "LibreCaslonText";
  font-weight: 400;
  src: url("/fonts/LibreCaslonText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LibreCaslonText";
  font-weight: 700;
  src: url("/fonts/LibreCaslonText-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LibreCaslonText";
  font-style: italic;
  src: url("/fonts/LibreCaslonText-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
}

body {
  max-width: 600px;
  margin: auto;
  padding: 1em 1em 5em 1em;
  line-height: 1.65em;
  font-size: 1.1em;
  background-color: #EEEEEE;
  color: #450011;
  font-family: LibreCaslonText, Optima, serif;
}

.menu {
  padding: 0;
}

.menu {
  font-family: WorkSans, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.menu, .article-meta, footer {
  text-align: center;
}

h1, h2 {
  font-family: WorkSans, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  line-height: 1.2em;
}

.article-meta {
  margin: 3em 0;
}

.article-meta h2 {
  margin-top: -0.5em;
  margin-bottom: 1.2em;
  font-size: 1.2em;
}

.title { 
  font-size: 1.1em;
}

a {
  color: #505050;
  /*text-decoration: none;*/
}

hr {
  border-style: dashed;
  color: #ddd;
}

.next-page, .prev-page {
  font-weight: bold;
}

.next-page {
  float: left;
}

.prev-page {
  float: right;
  text-align: right;
}

figure {
  margin: 0;
  text-align: center;
}

figcaption {
  font-size: 0.9em;
  font-style: italic;
}

figure img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}

img, iframe, video { max-width: 100%; }

main { hyphens: auto; }

main li {
  margin: 0.5em 0;
}

blockquote {
  background: #EEEEEE;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th { border-bottom: 1px solid #ddd; }

th, td { padding: 5px; }

thead, tfoot, tr:nth-child(even) { background: #eee }

