{{ partial "header.html" . }}
<div class="article-meta">
<h1>{{ .Title }}</h1>
{{ if .Params.Subtitle }}<h2>{{ .Params.Subtitle }}</h2>{{ end }}
</div>

<main>
{{ .Content }}
</main>


<div class="prev-page">
    {{ if .PrevPage }}
    <a href="{{ .PrevPage.RelPermalink }}">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
    {{ end }}
</div>

<div class="next-page">
    {{ if .NextPage }}
    <a href="{{ .NextPage.RelPermalink }}">« {{ .NextPage.Title | truncate 50 "..." }}</a>
    {{ end }}
</div>

{{ partial "footer.html" . }}
